<div style="background-image: url('{{ page.img }}');
  min-height:300px; 
  background-position:center; 
  background-repeat:no-repeat;  
  background-size:cover;
  position:relative"> 
  <!-- h1 style="color:white"> 
    <span class="font-weight-bold" style="color:white" >{{ page.title }}  </span>  
  </h1 -->  
</div>
