<div style="background-image: url('{{ page.img }}');
  min-height:450px; 
  background-position:center; 
  background-repeat:no-repeat;  
  background-size:cover;
  position:relative"> 
  <h1 class=""> 
    <span class="font-weight-bold">CoEvolution  </span> Lab 
  </h1>  
</div>
